#productShow {
  padding: 0 5rem;
}


.show-product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  align-items: center;
}

.show-product-img {
  width: 50%;
  height: auto;
}

.show-product-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.5rem;
}

.show-product-title {
  font-size: 2rem;
  font-weight: 600;
}

.show-product-price {
  font-size: 2rem;
  font-weight: 700;
}

.show-product-desc {
  font-size: 1rem;
  font-weight: 600;
}

.show-product-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.show-product-button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.show-product-button button {
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 5px;
  font-size: 1rem;
  outline: 2px solid black;
}
.show-product-button button:hover {
  background: rgb(179, 170, 170);
}

.show-product-btn {
  width: 300px;
  height: 50px;
  background-color: orangered;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.4rem;
}
.show-product-btn:hover {
  background-color: rgb(255, 30, 0);
}

#product-show-count {
  font-size: 1.4rem;
}


.show-product-service {
  font-size: 1.2rem;
  padding: 1rem;
  width: max-content;
  border-radius: 20px;
}

.show-service-item {
  padding-top: 1rem;
}


/* SHOW FEEDBACK */

.show-product-feedback{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid black;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}

.show-feedback-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.show-feedback-name {
  font-size: 2rem;
  font-weight: 600;
}

.show-feedback-user {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.show-feedback-user span {
  align-self: flex-end;
  padding-left: .4rem;
  color: green;
  font-size: 1rem;
  font-weight: 500;
}

.show-feedback-desc {
  color: #333;
}

.show-feedback-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem
}

.show-feedback-btns button {
  width: 300px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 600;
}

.show-feedback-btns button:first-child {
  background-color: orangered;
  color: white;
}
.show-feedback-btns button:last-child {
  background-color: rgb(168, 168, 168);
}

/* SHOW PRODUCT CARD */

.show-product-ql {
  margin-top: 10rem;
  margin-bottom: 3rem;
  background: #999;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
}
.show-products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#productShow .hidden {
  display: none;
}


/* form reviews */
.form-reviews {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #999;
  padding: 5rem;
  border-radius: 20px;
}

.form-reviews .form-control {
  width: 400px;
  height: max-content;
  margin-top: 1rem;
}
.form-reviews .form-control label {
  font-weight: 500;
}
.form-reviews .form-control input {
  padding: 2px;
  width: 300px;
  height: 50px;
}
.form-reviews .form-control textarea {
  width: 300px;
  max-height: 300px;
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-reviews button {
  width: 100%;
  margin-top: 1rem;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 500;
  background-color: skyblue;
  color: white;
}

.form-reviews .cancelForm {
  background-color: chocolate;
}